[submodule "passwall"]
	path = passwall
	url = https://github.com/xiaorouji/openwrt-passwall.git
[submodule "helloworld"]
	path = helloworld
	url = https://github.com/fw876/helloworld.git
[submodule "AutoBuild-Packages"]
	path = AutoBuild-Packages
	url = https://github.com/Hyy2001X/AutoBuild-Packages.git
[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
[submodule "AutoBuildPackages"]
	path = AutoBuildPackages
	url = https://github.com/Hyy2001X/AutoBuild-Packages.git
[submodule "iKoolProxy"]
	path = iKoolProxy
	url = https://github.com/1wrt/luci-app-ikoolproxy.git
